.abount_progs_page.cf
  .flip-container{:ontouchstart => "this.classList.toggle('hover');"}
    .flipper
      .front
        Accelerator
      .back
        An accelerator takes single-digit chunks of equity in externally developed ideas in return for small amounts of capital and mentorship. They’re generally truncated into a three to four month program at the end of which the start-ups ‘graduate’.


  .flip-container{:ontouchstart => "this.classList.toggle('hover');"}
    .flipper
      .front
        Incubator
      .back
        An incubator brings in an external management team to manage an idea that was developed internally. Those ideas can gestate for much longer periods of time and the incubator takes a much larger amount of equity compared to accelerators.

  .flip-container{:ontouchstart => "this.classList.toggle('hover');"}
    .flipper
      .front
        Competition
      .back
        A competition is an opportunity for entrepreneurs to pitch their ideas to a panel of expert judges with the winner recieving prize money amongst other benefits.

  .flip-container{:ontouchstart => "this.classList.toggle('hover');"}
    .flipper
      .front
        Bootcamp
      .back
        Austin four loko bitters, before they sold out dreamcatcher seitan Odd Future Pinterest Echo Park disrupt salvia Etsy banjo. Semiotics typewriter 90's single-origin coffee sustainable migas American Apparel flannel, Intelligentsia readymade.









