%h1.case_studies_header 
  Case Studies
%br

  - @case_studies.each do |case_study|
    .case_study
      .cs_facts
        .cs_name
        = case_study.name
        %br
        %br
        .cs_type_location
        = case_study.prog_type.capitalize
        |
        = case_study.location
      %img{:src=>case_study.cs_image}
      %br
      .cs_description
        = case_study.description
      %br
      
/       = link_to 'Show', case_study
/       = link_to 'Edit', edit_case_study_path(case_study)
/       = link_to 'Destroy', case_study, :method => :delete, :data => { :confirm => 'Are you sure?' }
/ %br

/ = link_to 'New Case study', new_case_study_path
